.left-side{
    text-align: start;
}

.isSelect{
    cursor: pointer;
}

h1{
    font-size: 16px !important;
    color: #414141;
    font-weight: bold !important;
}

h2{
    font-size: 12px !important;
    color: #414141;
}

h3{
    font-size: 11px !important;
    color: #B2B2B2;
}